body {
  background-color: #252d4a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.app{
  color: #ffffff;
  width: 500px;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  
}
.question-section {
  width: 100%;
  position: relative;
  margin-top: 2em;
  
}

.question-text {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: center;

}
button {
  display: block;
  border: 1px solid #252d4a;
  border-radius: 15px;
  padding: 20px 30px;
  text-decoration: none;
  color: #616A94;
  
  background-color: #161A31;
  font-size: 1.3em;
  outline: none;
  user-select: none;
  margin-top: 1em;
  cursor: pointer;
  

}
button:hover{
  color: white;
  background-color: #616A94;
}
.answer-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 2em auto;
  
}



.score-section {
  margin-bottom: 4em;
  font-size: 28px;
    text-align: center;

}

#refreshButton{
  margin-left: 70px;
}


button svg {
  margin-right: 5px;
}
